<header class="Head-page-one">
    <a class="nav-link" routerLink="/header">
        <div class="Head-item-one">
            <h1 class="Text-item1">Aujourd’hui</h1>
            <h1 class="Text-item2">+ 30 clients</h1>
            <h1 class="Text-item3">+ 200 scans</h1>
        </div>
    </a>
    <a class="nav-link" routerLink="/page1">
        <div class="Head-item-two">
            <h1>Utilisateurs</h1>
            <h1>12 000</h1>
            <p class="Head-text"><span class="Text-item4">Actifs</span>(1 carte au moins)<span class="Text-item5">10 000</span></p>
            <p class="Head-text"><span class="Text-item4">Orphelins</span>(0 carte)<span class="Text-item6">1 000</span></p>
            <p class="Head-text"><span class="Text-item4">Inactifs</span>(numéro non validé)<span class="Text-item7">900</span></p>
        </div>
    </a>
    <a class="nav-link" routerLink="/page2">
        <div class="Head-item-three">
            <h1>Commerces</h1>
            <h1>300</h1>
            <p><span>Actifs</span>(plus d'1 client)<span class="Text-item8">200</span></p>
            <p><span>Inactifs</span>(carte créée - 0 client)<span class="Text-item9">100</span></p>
        </div>
    </a>
</header>


<div class="Filter">
    <div class="Filter-item1">
        <div class="switch__container">
            <input id="switch-shadow" class="switch switch--shadow" type="checkbox">
            <label for="switch-shadow" class="label2"></label>
            <p class="switch-text">sans comptes tests</p>
          </div>
          <div class="switch__container">
            <input id="switch-shadow1" class="switch1 switch--shadow1" type="checkbox">
            <label for="switch-shadow1" class="label3"></label>
            <p class="switch-text">sans comptes orphelins</p>
          </div>
    </div>
    <div class="Filter-item2">
        <div class="switch__container">
            <input id="switch-shadow2" class="switch2 switch--shadow2" type="checkbox">
            <label for="switch-shadow2" class="label4"></label>
            <p class="switch-text">sans comptes inactifs</p>
          </div>
          <div class="switch__container">
            <input id="switch-shadow3" class="switch3 switch--shadow3" type="checkbox">
            <label for="switch-shadow3" class="label5"></label>
            <p class="switch-text">sans comptes inactifs</p>
          </div>
    </div>
</div>
<hr>
<section class="Graph">
    <div class="Graph-marker">
        <h2 class="Title">Scans et inscriptions</h2>
        <div id="divStakedColumnChart"></div>
    </div>
    <div class="Graph-line"></div>
</section>