<div class="container">
    <section class="frame-15-frame16">
        <div class="frame15">
            <p class="frame15-text1">Bubbolitas</p>
            <p class="frame15-text2">Bubble Tea 🧋</p>
            <p class="frame15-text3">16 avenue du Parc, 95000 Cergy</p>
            <p class="frame15-text4">2 autres adresses ...</p>
        </div>
        <div class="frame16">
            <p class="frame16-text1">Total de clients :<span>350</span></p>
            <p class="frame16-text2">Total des points donnés :<span>1600</span></p>
            <p class="frame16-text3">Total des récompenses offertes :<span>73</span></p>
        </div>
    </section>
    <div class="frame17">
        <p class="frame17-text1">Création</p>
        <p class="frame17-text2">8 mai 2023 à 21h58</p>
        <p class="frame17-text3">il y a 10 heures</p>
    </div>
    <div class="frame18">
        <p class="frame18-text1">Dernier scan</p>
        <p class="frame18-text2">15 mai 2023 à 21h58</p>
        <p class="frame18-text3">il y a 9 minutes</p>
    </div>
</div>



<div class="accordion-menu">
    <ul>
        <li>
            <input type="checkbox" checked>
            <i class="arrow"></i>
            <section class="frame-19-frame20">
                <div class="frame19">
                    <p class="frame19-text1">Adresses</p>
                </div>
                <div class="frame20">
                    <span class="frame20-text1">3</span>
                </div>
            </section>
            <div class="accordion-arrow1">
                <p class="frame_11">16 avenue du Parc, 95000 Cergy</p>
                <p class="frame_12">16 avenue du Parc, 95000 Cergy</p>
                <p class="frame_13">16 avenue du Parc, 95000 Cergy</p>
            </div>
        </li>
    </ul>
</div>


<div class="accordion-menu">
    <ul>
        <li>
            <input type="checkbox" checked>
            <i class="arrow"></i>
            <section class="frame-21-frame22">
                <div class="frame21">
                    <p class="frame21-text1">Récompenses</p>
                </div>
                <div class="frame22">
                    <span class="frame22-text1">3</span>
                </div>
            </section>
            <div class="accordion-arrow1">...........</div>
        </li>
    </ul>
</div>


<div class="accordion-menu">
    <ul>
        <li>
            <input type="checkbox" checked>
            <i class="arrow"></i>
            <section class="frame-23-frame24">
                <div class="frame23">
                    <p class="frame23-text1">Membres</p>
                </div>
                <div class="frame24">
                    <span class="frame24-text1">2</span>
                </div>
            </section>
            <div class="accordion-arrow1">...........</div>
        </li>
    </ul>
</div>

<div class="accordion-menu">
    <ul>
        <li>
            <input type="checkbox" checked>
            <i class="arrow"></i>
            <section class="frame-25-frame26">
                <div class="frame25">
                    <p class="frame25-text1">Badges</p>
                </div>
                <div class="frame26">
                    <span class="frame26-text1">2</span>
                </div>
            </section>
            <div class="accordion-arrow1">...........</div>
        </li>
    </ul>
</div>

<div class="accordion-menu">
    <ul>
        <li>
            <input type="checkbox" checked>
            <i class="arrow"></i>
            <section class="frame-27-frame28">
                <div class="frame27">
                    <p class="frame27-text1">Promotions</p>
                </div>
                <div class="frame28">
                    <span class="frame28-text1">1</span>
                </div>
            </section>
            <div class="accordion-arrow1">...........</div>
        </li>
    </ul>
</div>
