<div class="accordion-menu-list">
    <ul>
        <li>
            <input type="checkbox" checked>
            <i class="arrow10"></i>
           <h4>7 jours</h4>
        </li>
    </ul>
</div>
<header class="Head-page-one">
    <a class="nav-link" routerLink="/header">
        <div class="Head-item-one">
            <h1 class="Text-item1">Aujourd’hui</h1>
            <h1 class="Text-item2">+ 30 clients</h1>
            <h1 class="Text-item3">+ 200 scans</h1>
        </div>
    </a>
    <a class="nav-link" routerLink="/page1">
        <div class="Head-item-two">
            <h1>Utilisateurs</h1>
            <h1>12 000</h1>
            <p class="Head-text"><span class="Text-item4">Actifs</span>(1 carte au moins)<span class="Text-item5">10 000</span></p>
            <p class="Head-text"><span class="Text-item4">Orphelins</span>(0 carte)<span class="Text-item6">1 000</span></p>
            <p class="Head-text"><span class="Text-item4">Inactifs</span>(numéro non validé)<span class="Text-item7">900</span></p>
        </div>
    </a>
    <a class="nav-link" routerLink="/page2">
        <div class="Head-item-three">
            <h1>Commerces</h1>
            <h1>300</h1>
            <p><span>Actifs</span>(plus d'1 client)<span class="Text-item8">200</span></p>
            <p><span>Inactifs</span>(carte créée - 0 client)<span class="Text-item9">100</span></p>
        </div>
    </a>
</header>

<div class="Filter">
    <div class="Filter-item1">
        <div class="switch__container">
            <input id="switch-shadow" class="switch switch--shadow" type="checkbox">
            <label for="switch-shadow" class="label2"></label>
            <p class="switch-text">sans comptes tests</p>
          </div>
          <div class="switch__container">
            <input id="switch-shadow1" class="switch1 switch--shadow1" type="checkbox">
            <label for="switch-shadow1" class="label3"></label>
            <p class="switch-text">sans comptes orphelins</p>
          </div>
    </div>
    <div class="Filter-item2">
        <div class="switch__container">
            <input id="switch-shadow2" class="switch2 switch--shadow2" type="checkbox">
            <label for="switch-shadow2" class="label4"></label>
            <p class="switch-text">sans comptes inactifs</p>
          </div>
          <div class="switch__container">
            <input id="switch-shadow3" class="switch3 switch--shadow3" type="checkbox">
            <label for="switch-shadow3" class="label5"></label>
            <p class="switch-text">sans comptes inactifs</p>
          </div>
    </div>
</div>
<hr>
<div class="accordion-menu">
    <ul>
        <li>
            <input type="checkbox" checked>
            <i class="arrow"></i>
            <div class="frame">
                <p class="frame-text1">+33 623456790<span>hjjjeovhl</span></p>
                <p class="frame-text2">1 carte de fidélité</p>
                <p class="frame-text3">0 commerce</p>
                <p class="frame-text4">connexion le 02/05/2023</p>
            </div>
            
            <div class="frame_2">
                <p class="frame_2-text1">Inscription</p>
                <p class="frame_2-text2">8 mai 2023 à 21h58</p>
                <p class="frame_2-text3">il y a 10 heures</p>
            </div>
            
            <div class="frame_3">
                <p class="frame_3-text1">Activation</p>
                <p class="frame_3-text2">8 mai 2023 à 21h58</p>
                <p class="frame_3-text3">il y a 10 heures</p>
            </div>            
            <div class="accordion-arrow">
                ................
            </div>
        </li>
    </ul>
</div>




<div class="accordion-menu">
    <ul>
        <li>
            <input type="checkbox" checked>
            <i class="arrow"></i>
            <div class="frame1">
                <p class="frame1-text1">+33 623456790<span>hjjjeovhl</span></p>
                <p class="frame1-text2">1 carte de fidélité</p>
                <p class="frame1-text3">0 commerce</p>
                <p class="frame1-text4">dernière connexion le 02/05/2023</p>
            </div>
            
            <div class="frame2">
                <p class="frame2-text1">Inscription</p>
                <p class="frame2-text2">8 mai 2023 à 21h58</p>
                <p class="frame2-text3">il y a 10 heures</p>
            </div>
            
            <div class="frame3">
                <p class="frame3-text1">Activation</p>
                <p class="frame3-text2">8 mai 2023 à 21h58</p>
                <p class="frame3-text3">il y a 10 heures</p>
            </div>
            <div class="accordion-arrow"><div class="frame4">
                <p class="frame4-text1">En tant que Client</p>
                <p class="frame4-text2">Total des points obtenus : <span>15</span></p>
                <p class="frame4-text3">Total des récompenses récupérées : <span>2</span></p>
            </div>
            
            <section class="section-frame5">
                <div class="frame5">
                    <p class="frame5-text1">Istanbul Kitchen 🥙</p>
                    <p class="frame5-text2">Kebab artisanale</p>
                    <p class="frame5-text3">41 rue des Tulipes, 75005 Paris</p>
                    <p class="frame5-text4">2 autres adresses ...</p>
                </div>
                <div>
                    <p>3 points</p>
                </div>
            </section>
            <p class="frame_text1">En tant que Marchand</p>
            <p class="frame_text2">vide</p></div>

        </li>
    </ul>
</div>


<div class="accordion-menu">
    <ul>
        <li>
            <input type="checkbox" checked>
            <i class="arrow"></i>
            <div class="frame6">
                <p class="frame6-text1">+33 623456790<span>hjjjeovhl</span></p>
                <p class="frame6-text2">0 carte de fidélité</p>
                <p class="frame6-text3">1 commerce</p>
                <p class="frame6-text4">dernière connexion le 02/05/2023</p>
            </div>
            
            <div class="frame7">
                <p class="frame7-text1">Inscription</p>
                <p class="frame7-text2">8 mai 2023 à 21h58</p>
                <p class="frame7-text3">il y a 10 heures</p>
            </div>
            
            <div class="frame8">
                <p class="frame8-text1">Activation</p>
                <p class="frame8-text2">8 mai 2023 à 21h58</p>
                <p class="frame8-text3">il y a 10 heures</p>
            </div>
            <div class="accordion-arrow">
                <p class="frame_text3">En tant que Client</p>
                <p class="frame_text4">vide</p>
                <p class="frame_text5">En tant que Marchand</p>
                <section class="section-frame9-frame10">
                    <div class="frame9">
                        <p class="frame9-text1">Istanbul Kitchen 🥙</p>
                        <p class="frame9-text2">Kebab artisanale</p>
                        <p class="frame9-text3">41 rue des Tulipes, 75005 Paris</p>
                        <p class="frame9-text4">2 autres adresses ...</p>
                    </div>
                    <div class="frame10">
                        <p class="frame10-text1">Total de clients :<span>350</span></p>
                        <p class="frame10-text2">Total des points donnés :<span>1600</span></p>
                        <p class="frame10-text3">Total des récompenses offertes :<span>73</span></p>
                    </div>
                </section>
            </div>
        </li>
    </ul>
</div>
